@for (message of messages; track message; let i = $index) {
  <div class="message-row" [ngStyle]="{'justify-content': message.role === 'user' ? 'flex-end' : 'flex-start'}">
    @if (message.role === 'bot') {
      <button mat-mini-fab (click)="clickEventIndex.emit(i)" [matTooltip]="getAgentNameFromEvent(i)" [class]="customIconColorClass(i)">
        <mat-icon fontSet="material-symbols-outlined">robot_2</mat-icon>
      </button>
    }
    @if (!message.functionCall && !message.functionResponse) {
      <mat-card class="message-card" [ngClass]="{ 'eval-fail': message.evalStatus === 2 }"
        [ngStyle]="{ 'background-color': shouldMessageHighlighted(i) ? 'rgb(15, 82, 35)' : '' }">
        @if (message.isLoading) { <mat-progress-bar class="loading-bar" mode="buffer"></mat-progress-bar> }
        @if (message.attachments) {
          <div class="attachments">
            @for (file of message.attachments; track file) {
              <div class="attachment">
                @if (file.file.type.startsWith('image/')) {
                  <img [src]="file.url" alt="attachment" class="image-preview-chat" />
                } @else {
                  <mat-icon>insert_drive_file</mat-icon>
                  <a [href]="file.url" download>{{ file.file.name }}</a>
                }
              </div>
            }
          </div>
        }
        <div>
          @if (message.thought) { <div class="thought-chip">Thought</div> }
          <div>
            @if (message.text) {
              @if (message.isEditing) {
                <div class="edit-message-container">
                  <textarea #messageTextarea class="message-textarea" [(ngModel)]="userEditEvalCaseMessage" rows="4" cols="80"
                    (keydown)="handleKeydown.emit({event: $event, message})"></textarea>
                  <div class="edit-message-buttons-container">
                    <span class="material-symbols-outlined" matTooltip="Cancel editing" style="width: 24px; height: 24px; color: #c4c7c5; cursor: pointer; margin-right: 16px;"
                      (click)="cancelEditMessage.emit(message)">close</span>
                    <span class="material-symbols-outlined" matTooltip="Save eval case message"
                      style="width: 24px; height: 24px; color: rgb(97, 151, 202); cursor: pointer; margin-right: 16px;"
                      (click)="saveEditMessage.emit(message)">check</span>
                  </div>
                </div>
              } @else {
                <markdown class="message-text" [data]="message.text"
                  [ngStyle]="{'font-style': message.thought ? 'italic' : 'normal', color: message.thought ? '#9aa0a6' : 'white'}"></markdown>
                @if (message.role === 'bot' && message.eventId) {
                  <div style="font-size: 10px; color: #9aa0a6; margin-top: 5px;">Event ID: {{ message.eventId }}</div>
                }
              }
            }
          </div>
          @if (message.renderedContent) {
            <div><div [innerHTML]="renderGooglerSearch(message.renderedContent)"></div></div>
          }
        </div>
        @if (message.executableCode) { <code> {{ message.executableCode.code }} </code> }
        @if (message.codeExecutionResult) {
          <div>
            <div>Outcome: {{ message.codeExecutionResult.outcome }}</div>
            <div>Output: {{ message.codeExecutionResult.output }}</div>
          </div>
        }
        @if (message.inlineData) {
          @if (message.role === 'bot') {
            <div>
              <div>
                @switch (message.inlineData.mediaType) {
                  @case (MediaType.IMAGE) {
                    <div class="generated-image-container">
                      <img class="generated-image" alt="image" [src]="message.inlineData.data"
                        (click)="openViewImageDialog.emit(message.inlineData.data)" />
                    </div>
                  }
                  @case (MediaType.AUDIO) {
                    <div><app-audio-player [base64data]="message.inlineData.data"></app-audio-player></div>
                  }
                  @case (MediaType.TEXT) {
                    <div>
                      <div class="html-artifact-container">
                        <mat-icon>description</mat-icon>
                        <button class="link-style-button"
                          (click)="openBase64InNewTab(message.inlineData.data, message.inlineData.mimeType)">
                          {{ message.inlineData.name }}
                        </button>
                      </div>
                    </div>
                  }
                  @default {
                    <div>
                      <button class="link-style-button"
                        (click)="openBase64InNewTab(message.inlineData.data, message.inlineData.mimeType)">
                        {{ message.inlineData.name }}
                      </button>
                    </div>
                  }
                }
              </div>
            </div>
          } @else {
            <div>
              @if (message.inlineData.mimeType.startsWith('image/')) {
                <div>
                  <img class="image-preview-chat" alt="image" [src]="message.inlineData.data"
                    (click)="openViewImageDialog.emit(message.inlineData.data)" />
                </div>
              } @else {
                <div class="attachment">
                  <mat-icon>insert_drive_file</mat-icon>
                  <a [href]="message.inlineData.data" download>{{ message.inlineData.displayName }}</a>
                </div>
              }
            </div>
          }
        }
        @if (message.failedMetric && message.evalStatus === 2) {
          <div class="eval-compare-container">
            <div class="actual-expected-compare-container">
              @if (message.actualInvocationToolUses) {
                <div class="actual-result">
                  <div class="eval-response-header header-actual">Actual tool uses:</div>
                  <ngx-json-viewer [json]="message.actualInvocationToolUses"></ngx-json-viewer>
                </div>
                <div class="expected-result">
                  <div class="eval-response-header header-expected">Expected tool uses:</div>
                  <ngx-json-viewer [json]="message.expectedInvocationToolUses"></ngx-json-viewer>
                </div>
              } @else if (message.actualFinalResponse) {
                <div class="actual-result">
                  <div class="eval-response-header header-actual">Actual response:</div>
                  <div>{{ message.actualFinalResponse }}</div>
                </div>
                <div class="expected-result">
                  <div class="eval-response-header header-expected">Expected response:</div>
                  <div>{{ message.expectedFinalResponse }}</div>
                </div>
              }
            </div>
            @if (message.evalScore !== undefined && message.evalThreshold !== undefined) {
              <div class="score-threshold-container">
                <span class="header-actual">Match score: {{ message.evalScore }}</span>
                <span class="header-expected">Threshold: {{ message.evalThreshold }}</span>
              </div>
            }
          </div>
        }
      </mat-card>
    }
    @if (message.functionCall) {
      <button mat-stroked-button [ngClass]="{'function-event-button-highlight': shouldMessageHighlighted(i)}"
        class="function-event-button" (click)="clickEventIndex.emit(i)">
        <mat-icon>bolt</mat-icon>
        {{ message.functionCall.name }}
      </button>
    }
    @if (message.functionResponse) {
      <button mat-stroked-button [ngClass]="{'function-event-button-highlight': shouldMessageHighlighted(i)}"
        class="function-event-button" (click)="clickEventIndex.emit(i)">
        <mat-icon>check</mat-icon>
        {{ message.functionResponse.name }}
      </button>
    }
    <div [ngClass]="{ 'eval-pass': message.evalStatus === 1, 'eval-fail': message.evalStatus === 2 }">
      <span class="material-symbols-outlined">{{ message.evalStatus === 1 ? 'check' : message.evalStatus === 2 ? 'close' : '' }}</span>
      <span>{{ message.evalStatus === 1 ? 'Pass' : message.evalStatus === 2 ? 'Fail' : '' }}</span>
    </div>
    @if (evalCase && message.role === 'bot' && isEvalEditMode) {
      @if (message.text) {
        <div>
          <span class="material-symbols-outlined eval-case-edit-button" [ngClass]="{ hidden: isEvalCaseEditing }"
            matTooltip="Edit eval case message" (click)="editEvalCaseMessage.emit(message)">edit</span>
          <span class="material-symbols-outlined eval-case-edit-button" [ngClass]="{ hidden: isEvalCaseEditing }"
            matTooltip="Delete eval case message" (click)="deleteEvalCaseMessage.emit({message, index: i})">delete</span>
        </div>
      } @else if ((isEditFunctionArgsEnabledObs | async) && message.functionCall) {
        <div>
          <span class="material-symbols-outlined eval-case-edit-button" [ngClass]="{ hidden: isEvalCaseEditing }"
            matTooltip="Edit function arguments" (click)="editFunctionArgs.emit(message)">edit</span>
        </div>
      }
    }
    @if (message.role === 'user') {
      <button mat-mini-fab><mat-icon>person</mat-icon></button>
    }
  </div>
}



