@if (appName != '' && isChatMode) {
  <div class="chat-input">
    <input type="file" multiple hidden (change)="fileSelect.emit($event)" #fileInput />
    <mat-form-field class="input-field" appearance="outline">
      @if ((selectedFiles.length && appName != '') || updatedSessionState) {
        <div class="file-preview">
          @for (file of selectedFiles; track file; let i = $index) {
            <div>
              @if (file.file.type.startsWith('image/')) {
                <div class="image-container">
                  <img [src]="file.url" alt="preview" class="image-preview" />
                  <button mat-icon-button (click)="removeFile.emit(i)" class="delete-button">
                    <mat-icon color="warn">close</mat-icon>
                  </button>
                </div>
              } @else {
                <div class="file-container">
                  <button mat-icon-button (click)="removeFile.emit(i)" class="delete-button">
                    <mat-icon color="warn">close</mat-icon>
                  </button>
                  <div class="file-info">
                    <mat-icon>insert_drive_file</mat-icon>
                    <span>{{ file.file.name }}</span>
                  </div>
                </div>
              }
            </div>
          }
          @if (updatedSessionState) {
            <div class="file-container">
              <button mat-icon-button (click)="removeStateUpdate.emit()" class="delete-button">
                <mat-icon color="warn">close</mat-icon>
              </button>
              <div class="file-info">
                <span>Updated session state</span>
              </div>
            </div>
          }
        </div>
      }
      <textarea
        class="chat-input-box"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="10"
        [ngModel]="userInput"
        (ngModelChange)="userInputChange.emit($event)"
        (keyup.enter)="sendMessage.emit($event)"
        placeholder="Type a Message..."
        style="caret-color: white"
      ></textarea>
      <div class="chat-input-actions">
        <div class="composer-left">
          <button mat-stroked-button color="primary" class="new-session-button compact" (click)="newSession.emit()">
            <mat-icon>add</mat-icon>
            New
          </button>
          <button mat-icon-button [matMenuTriggerFor]="sessionActions" aria-label="Session actions" class="toolbar-icon" matTooltip="Session actions">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #sessionActions="matMenu">
            <button mat-menu-item (click)="deleteSession.emit()">
              <mat-icon>delete</mat-icon>
              <span>Delete session</span>
            </button>
            <button mat-menu-item (click)="exportSession.emit()">
              <mat-icon>download</mat-icon>
              <span>Export session</span>
            </button>
          </mat-menu>
          <button mat-icon-button (click)="fileInput.click()" class="function-event-button" matTooltip="Upload local file">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
        <div class="composer-right">
          <button mat-icon-button matSuffix type="button" (click)="sendMessage.emit($event)"
            class="function-event-button send-btn" matTooltip="Send message">
            <mat-icon>send</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="toggleAudioRecording.emit()"
            [ngStyle]="{'background-color': isAudioRecording ? 'rgb(234, 67, 53)' : 'var(--surface-card)'}"
            [matTooltip]="isAudioRecording ? 'Turn off microphone' : 'Use microphone'">
            <mat-icon>mic</mat-icon>
          </button>
          <button mat-icon-button matSuffix (click)="toggleVideoRecording.emit()"
            [ngStyle]="{'background-color': isVideoRecording ? 'rgb(234, 67, 53)' : 'var(--surface-card)'}"
            [matTooltip]="isVideoRecording ? 'Turn off camera' : 'Use camera'">
            <mat-icon>videocam</mat-icon>
          </button>
        </div>
      </div>
    </mat-form-field>
  </div>
}


